/* index.css or App.css */
html, body {
  height: 100%; /* Full height */
  margin: 0;    /* Remove default margin */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#root {
  height: 100vh; /* Full viewport height */
  display: flex;  /* Flexbox for layout */
  flex-direction: column; /* Vertical layout */
}
